#total-bill-amount{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 900;
}

body{
    font-weight: 900;
}

#total-cash-given{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font: bolder;
    font-weight: 900;
}

#check{
    margin-top: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: cyan;
    box-shadow: -2px 2px 4px black;
}

#check:hover{
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
    box-shadow: 2px 2px 4px black;
}

#heading{
    margin-top: 0;
}

table{
    border: 2px solid cyan;
    text-align: center;
    align-self: center;
    margin: auto;
    margin-top: 2rem;
}

td{
    border: 2px solid cyan;
}

th{
    border: 2px solid cyan;
}

.container{
    justify-items: center;
    align-self: center;
    margin: auto;
    text-align: center;
    margin: auto;
    padding: 10vh 5vw 10vh 5vw;
    background-color: cadetblue;
    width: 50vw;
    box-shadow: -10px 10px 10px black;
    border-radius: 25px;
}

.label{
    font-weight: 900;
}

#error-display{
    font-weight: 900;
}

footer {
    text-align: center;
    margin-top: 2rem;
}

#footer-head{
    margin-bottom: 0.5rem;
}

#footer-ul{
    display: inline-block;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    margin-bottom: 1rem;
}


.footer-li{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

footer{
    font-weight: 500;
}

.change-color-svg{
    fill: cadetblue;
    height: 6vh;
}

.change-color-svg:hover{
    fill: var(--sec-color);
}